<div class="container" style="margin-bottom: 16rem;">
        <div class="d-flex justify-content-center mt-5">
            <form (ngSubmit)="onUpdate()" [formGroup]="formulario" >
                <div class="m-3">
                    <a href=""><i class="fa-solid fa-arrow-left"></i> Volver</a>
                </div>
                <div class="form-group mx-3">
                    <label for="nombre" class="m-1">Editar skill</label>
                    <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" required formControlName="nombre" style="width: 350px;">
                </div>
                <div class="form-group">
                    <div>
                        <label for="porcentaje" class="form-label my-5 mx-3">Porcentaje</label>
                        <input type="range" id="porcentaje" name="porcentaje" step="5" min="0" max="100" (input)="actualizarPorcentaje()">
                        <span id="valorPorcentaje" class="m-4">{{porcentajeView}}</span>
                    </div>
                </div>
                <button class="btn btn-primary m-3" >
                    Actualizar soft skill.
                </button>
            </form>
        </div>
</div>
