<h1 class="text-center mt-5 mb-5 titulo">Soft Skills</h1>
    <div class="container d-flex justify-content-center">
      
      <div style="width: 70%;">
        <h3>Autodidacta</h3>
        <div class="progress mb-4">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
        </div>
        <h3>Resolución de problemas</h3>
        <div class="progress mb-4">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
        </div>
        <h3>Gestión del tiempo</h3>
        <div class="progress mb-4">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
        <h3>Responsabilidad</h3>
        <div class="progress mb-4">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%"></div>
        </div>
      </div>
    </div>
