<h1 class="text-center mt-5 mb-5 titulo" id="softskills">Soft Skills</h1>
<div class="text-center">
  <button type="button" routerLink="/nuevask" class="btn btn-sm btn-success" *ngIf="isLogged">
    Nueva Hard-Skill
  </button>
</div>
<div class="container d-flex justify-content-center">
  <div style="width: 70%;" class="to-right" >
    <div *ngFor="let skill of skill">
      <h3>{{skill.nombre}}</h3>
      <div class="d-flex justify-content-start align-items-center" *ngIf="isLogged">
        <button class="btn btn-sm btn-warning mr-2" routerLink="/editsoft/{{skill.id}}"><i
            class="fa-regular fa-pen-to-square"></i></button>
        <button class="btn btn-sm btn-danger" (click)="delete(skill.id)"><i class="fa-solid fa-trash"></i></button>
      </div>
      <div class="progress mb-4 to-right">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
          [style.width.%]="skill.porcentaje" aria-valuemin="0" aria-valuemax="100" style="font-size: large;">
          {{skill.porcentaje}}%
        </div>
      </div>
    </div>
  </div>
</div>