<div class="container" style="margin-bottom: 16rem;">
    <div class="d-flex justify-content-center mt-5">
        <form (ngSubmit)="onUpdate()" [formGroup]="formulario" *ngIf="proyecto">
            <div class="m-3">
                <a href=""><i class="fa-solid fa-arrow-left"></i> Volver</a>
            </div>
            <div class="form-group mx-3">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required formControlName="nombre">
            </div>
            <div class="form-group mx-3">
                <label for="descripcion">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" required formControlName="descripcion">
            </div>
            <div class="form-group mx-3">
                <label for="link">Link </label>
                <input type="text" class="form-control" id="linkUrl" name="linkUrl" required formControlName="linkUrl">
            </div>
            <div class="form-group mx-3">
                <label for="github">Link de Github </label>
                <input type="text" class="form-control" id="githubUrl" name="githubUrl" required formControlName="githubUrl">
            </div>
            <div class="form-group mx-3">
                <label for="img">Imagen</label>
                <input type="file" class="form-control" id="img" name="img" required formControlName="img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
            </div>
            <div>
                <img [src]="imageService.url" style="max-width: 150px; max-height: 150px;">
            </div>
            <button class="btn btn-primary m-3" >
                Actualizar
            </button>
        </form>
    </div>
</div>

