<div class="container ">
    <h1 class="text-center mt-5 mb-5 titulo" id="proyectos">Proyectos</h1>
    <div id="carouselExampleCaptions" class="carousel slide to-right" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/fginicio.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-dark">
            <div class="sombreado">
              <h5 class="card-title">Calculadora médica</h5>
              <p class="card-text">Aplicación móvil desarrollada con XamarinForms para el facilitar el cálculo de
                dósis,
                goteo y IMC en el aréa de medicina.</p>
              <a href="https://play.google.com/store/apps/details?id=com.tomassosa.calculadoramedica&pli=1"
                target="_blank" class="btn btn-outline-light">Play Store</a>
              <a href="#" class="btn btn-outline-light">Github</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/TiendaMVC1.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-dark">
            <div class="sombreado">
              <h5 class="card-title">E-Commerce</h5>
              <p class="card-text">Aplicación web desarrollada en .NET Core MVC y EntityFramework Core.</p><br>
              <a href="#" class="btn btn-outline-light">Link</a>
              <a href="#" class="btn btn-outline-light">Github</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/LaMAFIARS.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="sombreado">
              <h5 class="card-title">La Mafia Red Social</h5>
              <p class="card-tex">Red social para un grupo de amigos desarrollada con .NET Core MVC y EntityFramework Core.
              Con roles de usuarios y salas de chats en tiempo real con SignalR.
              </p>
              <a href="http://la-mafia-rs.somee.com" target="_blank" class="btn btn-outline-light">Link</a>
              <a href="https://github.com/TommySosa/LaMafiaRS" target="_blank" class="btn btn-outline-light">Github</a>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
