<div class="container ">
  <h1 class="text-center mt-5 mb-5 titulo" id="proyectos">Proyectos</h1>
  <div class="text-center mb-5">
    <button type="button" class="btn btn-success" routerLink="/nuevoproy" *ngIf="isLogged">
      Nuevo proyecto
    </button>
  </div>
  <section class="projects">
    <div class="container">
      <div class="row to-right">
        <!-- aquí irán las tarjetas -->
        <div class="col-sm-6 col-md-4" *ngFor="let Proyectos of proyectos">
          <div class="card">
            <img class="card-img-top" src="{{Proyectos.img}}" alt="{{Proyectos.nombre}}">
            <div class="card-body">
              <h5 class="card-title">{{Proyectos.nombre}}</h5>
              <p class="card-text">{{Proyectos.descripcion}}</p>
              <a href="{{Proyectos.linkUrl}}" class="btn boton btn-outline-light mx-3" target="_blank">Link</a>
              <a href="{{Proyectos.githubUrl}}" class="btn boton btn-outline-light" target="_blank">Github</a>
              <div class="d-flex justify-content-end align-items-center" *ngIf="isLogged">
                <button class="btn btn-sm btn-warning mr-2" routerLink="/editproy/{{Proyectos.id}}"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="btn btn-sm btn-danger" (click)="delete(Proyectos.id)"><i class="fa-solid fa-trash"></i></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>