
<div class="container-fluid mt-5" style="z-index: 99;">
    <div class="jumbotron jumbotron-fluid vh-100 d-flex align-items-center justify-content-center ">
      <div class="container-sm container-md container-lg container-xs container-xl">
        <div class="row to-right">
          <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xs-8">
            <h2 class="display-2 typing" id="nombre">{{persona.nombre}}<br>{{persona.apellido}}</h2>
            <h3 class="lead typing" style="font-size: 1.4rem;">{{persona.titulo}}</h3><br>
            <p style="font-size: 1.5rem;">{{persona.descripcion}}</p>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xs-4">
            <div class="d-flex">
              <div class="rounded-circle" >
                <img src={{persona.img}} alt="" class="rounded-circle" style="border: 3px solid #25fc98">
              </div>
            </div>
          </div>
        </div>
        <button class="btn boton border-white to-right">Descargar CV</button>
        <button type="button" class="btn btn-success" routerLink="/editarinicio/1" *ngIf="isLogged">
          Editar persona
        </button>
      </div>
    </div>
  </div>
  <!-- ¡Hola! Soy un estudiante de último año de programación de 19 años de Tucumán, Argentina, apasionado por aprender nuevas tecnologías y ampliar mi conocimiento 
  en el campo de la programación. Bienvenido a mi portfolio web, donde podrás conocer mis proyectos y habilidades en desarrollo.
 Desde temprana edad, me ha interesado el mundo de la tecnología y la informática, y con el tiempo fui desarrollando una gran curiosidad por aprender sobre programación y desarrollo de software.  Actualmente, me encuentro estudiando en profundidad diversos lenguajes de programación, frameworks y herramientas para el desarrollo de aplicaciones web, móviles y de escritorio, y trabajando en proyectos personales que me permiten aplicar y poner en práctica lo aprendido.  En mi tiempo libre, disfruto de leer blogs y artículos relacionados con programación, tecnología e innovación.


-->
  