
<div class="container" style="z-index: 99;">
    <div class="jumbotron jumbotron-fluid vh-100 d-flex align-items-center justify-content-center mt-5">
      <div class="container-sm">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="display-2 typing" id="nombre">{{persona.nombre}}<br>{{persona.apellido}}</h2>
            <p class="lead typing" style="font-size: 1.5rem;">Full Stack Developer Jr</p><br>
            <p>¡Hola! Soy un estudiante de último año de programación de 19 años de Tucumán, Argentina, apasionado por aprender nuevas tecnologías y ampliar mi conocimiento 
              en el campo de la programación. Bienvenido a mi portfolio web, donde podrás conocer mis proyectos y habilidades en desarrollo.</p>
          </div>
          <div class="col-sm">
            <div class="d-flex">
              <div class="rounded-circle" style="border: 1px white dashed;">
                <img src="/assets/perfil.jpg" alt="" class="rounded-circle" style="border: 3px solid #25fc98">
              </div>
            </div>
          </div>
        </div>
        <button class="btn boton border-white">Descargar CV</button>
      </div>
    </div>
  </div>
