
    <h1 class="text-center mt-5 mb-5 titulo" id="capacitaciones">Capacitaciones</h1>

  <div class="container d-flex justify-content-center">
    <div class="row ">
      <div class="col">
        <div class="card bg-dark" style="width: 18rem; border: 2px solid #25fc98;">
          <img src="/assets/globallearning.jpg" class="card-img-top">
          <h5 class="card-title text-center">Curso de especialización en .NET (Por Global Learning).</h5>
          <div class="card-body">
            <p class="card-text">5 de oct. 2022 - 12 de dic. 2022</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark" style="width: 20rem; border: 2px solid #25fc98;">
          <img src="/assets/argPrograma2.png" class="card-img-top" alt="...">
          <h5 class="card-title text-center">Argentina Programa</h5>
          <div class="card-body">
            <p class="card-text">2 de feb. 2022 - Actualidad.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark" style="width: 18rem; border: 2px solid #25fc98;">
          <img src="/assets/google.jpg" class="card-img-top" width="80">
          <h5 class="card-title text-center">Habilidades Digitales Esenciales (Por Google For Education)</h5>
          <div class="card-body">
            <p class="card-text">Agosto 2020</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
