<footer class="text-center text-white mt-4" style="background-color: #25fc98;">
    <div class="container pt-4">
      <section class="mb-4">
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="mailto:tomas.facundo.sosa@gmail.com"
          role="button" data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/tomassosa20/"
          role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/tom%C3%A1s-facundo-sosa-b6197b22a/" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/TommySosa" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
        <div class="">
          <h6 class="text-uppercase fw-bold mb-4">Contáctame</h6>
          <p><i class="fas fa-home me-3 text-dark"></i> Yerba Buena, Tucumán.</p>
          <p>
            <i class="fas fa-envelope me-3 text-dark"></i>
            tomas.facundo.sosa@gmail.com
          </p>
          <p><i class="fas fa-phone me-3 text-dark"></i> + 54 381 328 4273</p>

        </div>
      </section>
    </div>
    <div class="text-center text-dark p-3" style="background-color: rgb(2, 243, 94);">
      © 2023 Copyright:
      <a class="text-dark" href=""> Tomás F. Sosa</a>
    </div>
  </footer>
