.row{
    padding: 10px;
}
.circle-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .circle-image-container img {
    max-width: 100%;
    max-height: 100%;
  }
.circulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle {
  width: 12.5rem;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2rem;
}

.circle canvas {
  vertical-align: top;
  width: 12.5rem !important;
}

.circle strong {
  position: absolute;
  top: 1.875rem;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.875rem;
  color: white;
}

.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.circle span {
  display: block;
  color: #aaa;
  margin-top: 0.75rem;
}