<div class="container-fluid mb-2" style="position: relative; z-index: 99;">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top menu mb-4" style="background-color: #25fc98;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" ><img src="/assets/logoTS-sinfondo.png" alt="" width="70" ></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row" id="navbarNav">
          <div class="col-sm-8">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#inicio">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#experiencia">Experiencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#estudios">Estudios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#capacitaciones">Capacitaciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#hardskills">Hard Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#softskills">Soft Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#proyectos">Proyectos</a>
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-end col-sm-4">
            <img src="/assets/ArgProgramaLogo.png">
            <button class="btn btn-outline-light text-dark" type="button" routerLink="/login" *ngIf="!IsLogged">Iniciar sesión</button>
            <button class="btn btn-outline-light text-dark" type="button" (click)="onLogOut()" *ngIf="IsLogged">Cerrar sesión</button>
          </div>
        </div>
        
      </div>
    </nav>
    
