<div class="container-fluid">
    <h1 class="text-center m-5">Experiencia</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva experiencia
        </button>
    </div>
    <div class="caja p-3">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-11 col-md-11 col-sm-11">
                <table class="table text-white">
                    <tbody>
                        <tr *ngFor="let Experiencia of expe">
                            <td>{{Experiencia.nombreE}}</td>
                            <td>{{Experiencia.descripcionE}}</td>
                            <td *ngIf="isLogged"><button class="btn btn-warning" routerLink="/explab/editexp/{{Experiencia.id}}"> Editar <i class="fa-regular fa-pen-to-square"></i></button> </td>
                            <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Experiencia.id)"> Borrar <i class="fa-solid fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>           
        </div>
    </div>
</div>
<!-- <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <ul>
                    <h2><i class="far fa-star"></i> Experiencia 1</h2> -
                    <h3> 2022-2023</h3>
                    <p>&nbsp;Este es mi primera descripcion de mi experiencia laboral que no tengo jajajaj</p>
                    <h2><i class="far fa-star"></i> Experiencia 1</h2> -
                    <h3> 2022-2023</h3>
                    <p>&nbsp;Este es mi primera descripcion de mi experiencia laboral que no tengo jajajaj</p>
                    <h2><i class="far fa-star"></i> Experiencia 1</h2> -
                    <h3> 2022-2023</h3>
                    <p>&nbsp;Este es mi primera descripcion de mi experiencia laboral que no tengo jajajaj</p>
                </ul>
            </div> -->