<h1 class="text-center m-5">Estudios</h1>
<div class="text-center mb-5">
  <button type="button" class="btn btn-success" routerLink="/nuevoest" *ngIf="isLogged">
    Nuevo estudio
  </button>
</div>
<div class="container d-flex justify-content-center">
  
    
  <div class="row to-right">
    <div class="col" *ngFor="let Estudios of estudios">
      <div class="card bg-dark" style="width: 20.4rem; border: 2px solid #25fc98;">
        <img src="/assets/utn-removebg-preview.png" class="card-img-top" alt="...">
        <h5 class="card-title text-center">{{Estudios.nombreE}}</h5>
        <div class="card-body">
          <p class="card-text">{{Estudios.descripcionE}}</p>
          <div class="d-flex justify-content-between align-items-center" *ngIf="isLogged">
            <button class="btn btn-sm btn-warning mr-2" routerLink="/editest/{{Estudios.id}}"><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="btn btn-sm btn-danger" (click)="delete(Estudios.id)"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card bg-dark" style="width: 18rem; border: 2px solid #25fc98;">
        <img src="/assets/abejitas-removebg-preview.png" class="card-img-top" alt="...">
        <h5 class="card-title text-center">Estudios secundarios articulado con el Trayecto Técnico Profesional en Informática</h5>
        <div class="card-body">
          <p class="card-text">2016-2021</p>
          <div class="d-flex justify-content-between align-items-center" *ngIf="isLogged">
            <button class="btn btn-sm btn-warning mr-2"><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card bg-dark" style="width: 20.4rem; border: 2px solid #25fc98;">
  <img src="/assets/utn-removebg-preview.png" class="card-img-top" alt="...">
  <h5 class="card-title text-center">Tecnicatura Universitaria en Programación</h5>
  <div class="card-body">
    <p class="card-text">2022-Actualidad</p>
  </div>
</div> -->