<div class="container-fluid ">
  <h1 class="text-center titulo mb-5" id="sobremi">Sobre mí</h1>
  <div class="row caja">
    <div class="col-sm-4 m-5" style="display: inline-block;">
      <img src="../../../assets/perfil.jpg" class="img-fluid" style="border: 3px solid #25fc98;
      border-radius: 25px;">
    </div>
    <div class="col-sm-6">
      <p class="lead" style="display: inline;">
        &nbsp;Desde temprana edad, me ha interesado el mundo de la tecnología y la informática, y con el tiempo fui
        desarrollando una gran curiosidad por aprender sobre programación y desarrollo de software.&nbsp;
        Actualmente, me encuentro estudiando en profundidad diversos lenguajes de programación, frameworks y herramientas
        para el desarrollo de aplicaciones web, móviles y de escritorio, y trabajando en proyectos personales que me
        permiten aplicar y poner en práctica lo aprendido.&nbsp;
        En mi tiempo libre, disfruto de leer blogs y artículos relacionados con programación, tecnología e innovación.
      </p>
    </div>
  </div>
</div>