<div class="container-fluid ">
  <h1 class="text-center titulo mb-5" id="sobremi">Sobre mí</h1>
  <div class="caja">
    <p class="lead  m-5">
      &nbsp;Desde temprana edad, me ha interesado el mundo de la tecnología y la informática, y con el tiempo fui
      desarrollando una gran curiosidad por aprender sobre programación y desarrollo de software.&nbsp;
      Actualmente, me encuentro estudiando en profundidad diversos lenguajes de programación, frameworks y herramientas
      para el desarrollo de aplicaciones web, móviles y de escritorio, y trabajando en proyectos personales que me
      permiten aplicar y poner en práctica lo aprendido.&nbsp;
      Soy una persona muy apasionada y comprometida con el trabajo que realizo, siempre en busca de nuevos desafíos y
      oportunidades de aprendizaje.&nbsp; Me gusta trabajar en equipo y colaborar con otras personas en proyectos
      interesantes e innovadores, y estoy dispuesto a enfrentar desafíos que me permitan seguir creciendo y mejorando
      como desarrollador.
      En mi tiempo libre, disfruto de leer blogs y artículos relacionados con programación, tecnología e innovación.
    </p>
  </div>
</div>