body{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.boton{
    color: white;
    
}

.boton:hover{
    background-color: #25fc98;
    color: black;
}
/*.jumbotron{
  background-image: url(/imagenes/logoTS-sinfondo.png);
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/

h1{
  text-align: left; 
  font-family: Comic Sans MS; 
  font-weight:bold; 
  font-size: 2rem; 
  color: #25fc98; 
  text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
}
.sombreado{
  color: #fff;
  /*background-color: rgba(68, 67, 66, 0.8); */
  background-color: rgba(68, 67, 66, 0.8);
  border-radius: 1.6rem;
  padding: 0.6rem;
}

#particles-js{
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}
*::-webkit-scrollbar{
  width: 15px;
}
*::-webkit-scrollbar-thumb{
  background-color: #25fc98;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover{
  background-color: #047540;
  border-radius: 10px;
}
*::-webkit-scrollbar-track{
  background-color: transparent;
}

/*
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

  .h2, h3 {
      
      font-size: 1rem;
      word-wrap: break-word;
      
  }
}
*/

  